{% extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'market/style.css' %}">
{% endblock %}

{% block content %}
<!--{{ injected_text|default:"<script>alert('DefAult')</script>"|ao|safe }}-->
<div>{{ wallpapers|length }} wallpapers found</div>
{% if wallpapers|length_is:18 %}
<h1> Hurraaayyyy</h1>
{% endif %}
{% for wallpaper in wallpapers %}
<p class="section">
    <span class="number index">{{forloop.counter0}}:</span>
    <a class="item" href="{{ wallpaper.get_absolute_url }}">{{ wallpaper|ao|upper|truncatechars:20 }}</a>
</p>
{% endfor %}
{% endblock %}