{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wallpepers</title>

    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css' %}">
    {% block static %}
    {% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>